.content{
    background-color: #231f20;
    font-family: Times;
    color: white;
}

.heading{
    color: #e9e9e9;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    margin-top: 10%;
    font-size: 30px;
}

.footer-text{
    color: #e9e9e9;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);

}

.white-line{
    color:#e9e9e9;
    border-color: #e9e9e9;
}

.footer{
    margin-top: 0%;
}

.sub-heading{
    margin-top: 3%;
    margin-bottom: 3.5%;
    font-size: 20px;
    font-style: italic;
}
.number-enlarge{
    font-weight: bold;
    font-size:100px;
    padding-top: 7%;
    padding-bottom: 5%;
}

.row-fluid .span2_5 {
  width: 17.893617021276595%;
}

.inner-heading{
    margin-top: 3%;
    margin-bottom: 10%;
    font-size: 20px;
    font-style: italic;
}
.number-enlarge-mob{
    font-weight: bold;
    font-size:100px;
    padding-top: 40%;
    padding-bottom: 45%;

}

.white-menu-text{
    color:white;
    font-weight: bold;
    font-size:20px;
    padding-top: 7%;
    padding-bottom: 5%;
}

.white-menu-text-mob{
    color:white;
    font-weight: bold;
    font-size:20px;
    padding-top: 40%;
    padding-bottom: 45%;

}
.fader{
    text-align: center;
    background-color:#ffffff;
    margin: 10px 10px 10px 10px;
}
.green{
    background-color:#2D3910;
}